# Project specific
config.yml
config.yaml
.session.yml
.claude
songs not found.txt
songs_not_found.txt
*.bak

# Python
__pycache__/
*.py[cod]
*$py.class
.mypy_cache/
.dmypy.json
dmypy.json
.ruff_cache
.cache*
.pytest_cache

# Distribution / packaging
build/
dist/
eggs/
.eggs/
sdist/
wheels/
**/*.egg-info/
.installed.cfg
*.egg

# Environments
.env
.venv
env/
venv/

# Visual Studio Code
.vscode/